body {
    font-family: 'Nunito', sans-serif;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.centerVerticalElement {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerVerticalElement img {
    width: 100%;
}

.margin-20-lr {
    margin-left: 10%;
    margin-right: 10%;
}

.menu {
    text-align: center;
}

.menu ul {
    display: inline-block;
    width: 100%;
    margin-top: 20px;

}

.menu ul li {
    display: inline-block;
    list-style: none;
    margin-right: 30px;
    justify-content: center;

}

.menu ul li:last-child {
    margin-right: 0;
}

.zero-padding-margin {
    padding: 0;
    width: 100%;
}

.zero-margin {
    margin-left: 0;
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: #222;
    font-size: 0.7em;
    font-weight: bold;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu a:hover {

    color: #ff8f00;
    text-decoration: none;
}

.image-section img {
    width: 100%;
}

.spacer-top-bottom {
    padding-top: 50px;
    padding-bottom: 50px;
}

.ch-position {
    text-align: center;
}

.language-box {
    min-height: 30px;
    padding-top: 20px;
    font-size: 0.7em;
    font-weight: bold;
}

.language-box ul li {
    text-decoration: none;
    text-decoration: none;
    display: inline-block;
    margin-right: 8px;
}

.language-box ul li a {
    color: #aaa;
}

.language-box ul li a:hover {
    color: #333;
    text-decoration: none;
}

.first-section {
    background-image: url("../img/background-1st.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}

.section1-id1 {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    margin-bottom: 70px;

}

.section1-id1 span {
    font-family: 'TypoPRO Bebas Neue';
    color: #ddd;
    letter-spacing: 1.5px;
    background-color: #020a28;
    padding: 15px 70px 15px 70px;

}

.section1-id2 {
    align-self: center;
    padding-top: 50px;
    padding-bottom: 50px;

}

.section1-id2 img {
    width: 80%;
}

.second-section {
    background-image: url("../img/background-2nd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}

.image-section2-1 {
    width: 70%;
    margin-top: -40px;
}

.image-section2-2-3 {
    width: 70%;
    margin-top: -100px;
}

.section2-id1 {
    text-align: right;
}

.main-text-title {
    font-family: 'VegurRegular';
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.image-section2-3 {
    width: 100%;
}

.image-section2-4-1 {
    width: 120%;
    margin-left: -140px;
}

.image-section2-4-2 {
    width: 120%;
    margin-right: -100px;
}

.third-section {
    background-image: url("../img/background-3rd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 520px;

}

.main-box-third {
    display: flex;
    align-self: center;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 55px;
    margin-top: -50px;

}

.main-box-third {
    font-family: 'VegurRegular';
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: 1px;
    text-transform: uppercase;

}

.main-box-third img {
    margin-bottom: -200px;
    width: 23%;
}

.fourth-section {
    background-image: url("../img/background-4th.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}

.main-box-fourth {
    display: flex;
    align-self: flex-end;
    align-items: center;
    flex-direction: column;

}

.main-box-fourth img {
    width: 70%;
    margin-bottom: -75px;
    margin-left: 200px;
    margin-right: -150px;
}

.main-box-fourth-2 {
    color: rgba(255, 255, 255, 0.9);
    font-family: 'VegurRegular';
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 20px;

}

.section4-id2 {
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section4-id2 img {
    width: 10%;
}

.section4-id2 span {
    font-family: 'TypoPRO Bebas Neue';
    color: #ddd;
    background-color: #ff296b;
    padding: 15px 70px 15px 70px;
    font-size: 0.7em;
}

.fifth-section {
    background-image: url("../img/background-5th.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.main-box-fifth {
    display: flex;
    align-self: flex-start;
    align-items: right;
    flex-direction: column;
}

.main-box-fifth {
    color: rgba(255, 255, 255, 0.9);
    font-family: 'VegurRegular';
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 80px;
}

.main-box-fifth-2 {
    display: flex;
    align-self: flex-end;
    align-items: right;
    flex-direction: column;
    padding-right: 0px;
}

.main-box-fifth-2 img {
    margin-bottom: -40px;
    width: 100%;

}

.sixth-section {

}